<app-header></app-header>

<div class="main-content">
  <div>
    <div class="card">
      <h3>for create a <strong>New request :</strong> </h3>
      <a class="nav-link" routerLink="/new-request">
      <p class="card-footer"> click here to create request</p>
    </a>
    </div>
    <div class="card">
      <h3>To view the <strong>Provided Request:</strong></h3>
      <a class="nav-link" routerLink="/view-request">
      <p class="card-footer"> click here to view request</p>
    </a>
    </div>
    <div class="card">
      <h3>for provide a <strong>Feedback :</strong> </h3>
      <a class="nav-link" routerLink="/feedback">
      <p class="card-footer">click here to provide Feedback</p>
      </a>
    </div>
  </div>
</div>